<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Meta tags Obrigatórias -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/style.css" />

<title>Pesquisa de títulos</title>
</head>

<body class="d-flex flex-column h-100">
	<header>
		<!-- Imagem e texto -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#"> <img
				src="/images/iconfinder_system-config-soundcard_6696.png" width="30"
				height="30" class="d-inline-block align-top" alt=""> Jopaulo
				System
			</a>
		</nav>
	</header>

	<!-- Começa o conteúdo da página -->
	<main role="main" class="container">
		<div class="card">
			<div class="clearfix">
				<h5 class="card-header titulo-panel">Pesquisa de títulos</h5>
				<a href="/titulos/novo" class="btn btn-link link-panel">Novo título</a>
			</div>
			<div class="card-body">
				<form method="post" action="/titulos">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Descrição</th>
								<th scope="col">Data de vencimento</th>
								<th scope="col">Valor</th>
								<th scope="col">Status</th>
								<th scope="col" class="text-center">Opções</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="titulo : ${titulos}">
								<td th:text="${titulo.id}"></td>
								<td th:text="${titulo.descricao}"></td>
								<td th:text="${{titulo.vencimento}}"></td>
								<td th:text="|R$ ${{titulo.valor}}|"></td>
								<td>
									<span class="badge" th:text="${titulo.status.descricao}"
										th:classappend="${titulo.pendente ? 'badge-danger' : 'badge-success'}">
									</span>
								</td>
								<td>
									<a th:href="@{/titulos/{id}(id=${titulo.id})}">
										<button type="button" class="btn btn-outline-warning btn-sm">Editar</button>
									</a>
									<button type="button" class="btn btn-outline-danger btn-sm">Excluir</button>
								</td>
							</tr>
							<tr>
								<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título encontrado</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</main>

	<!-- JavaScript (Opcional) -->
	<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>